[Desktop Entry]
Type=Application
Name[ar]=حاسوب مكتبي
Name[az]=Axtarış
Name[be]=Значкі працоўнага стала
Name[bg]=Икони на работния плот
Name[bn]=ডেস্কটপ আইকন
Name[ca]=Icones de l' escriptori
Name[cs]=Ikony plochy
Name[da]=Desktopikoner
Name[de]=Desktop-Symbole
Name[el]=Εικονίδια επιφάνειας εργασίας
Name[eo]=Desktop Icons
Name[es]=Iconos de escritorio
Name[et]=Töölaua ikoonid
Name[eu]=Mahaigaineko ikonoak
Name[fa]=Desktop Icons
Name[fi]=Työpöydän kuvakkeet
Name[fr]=Icônes de bureau
Name[ga]=Seirbhís do Chustaiméirí
Name[gl]=Desktop Icons
Name[he]=סמלים בשולחן העבודה
Name[hi]=डेस्कटॉप प्रतीक
Name[hr]=ikona na radnoj površini
Name[hu]=Asztali ikonok
Name[id]=Ikon Desktop
Name[it]=Icone sulla scrivania
Name[ja]=デスクトップアイコン
Name[ka]=სამუშაო დაფის ხატულა
Name[ko]=데스크탑 아이콘
Name[ky]=Десктоптун иконалары
Name[lv]=Darbvirsmas ikonas
Name[lt]=Darbastalio ženkliukai
Name[ms]=Ikon Desktop Ikon
Name[nb]=Skrivebordsikon
Name[nl]=Bureaubladpictogrammen
Name[pl]=Ikony pulpitu
Name[pt_BR]=Ícones da área de trabalho
Name[pt]=Ícones da área de trabalho
Name[ro]=Pictograme de birou
Name[ru]=Desktop Icons
Name[sk]=Ikony plochy
Name[sl]=Ikone namizja
Name[sq]=Ikonat e Desktopit
Name[sv]=Desktop Icons
Name[ta]=டெச்க்டாப் சின்னங்கள் அளவு
Name[tl]=Desktop Mga Icon
Name[tr]=Masaüstü Icons
Name[th]=ไอคอนของพื้นที่ทํางาน
Name[uk]=Настільні іконки
Name[ur]=فائلز
Name[zh-Hans]=桌面图标
Name[zh-Hant]=桌面圖示
Name=Desktop Icons
GenericName[ar]=حاسوب مكتبي
GenericName[az]=Axtarış
GenericName[be]=Значкі працоўнага стала
GenericName[bg]=Икони на работния плот
GenericName[bn]=ডেস্কটপ আইকন
GenericName[ca]=Icones de l' escriptori
GenericName[cs]=Ikony plochy
GenericName[da]=Desktopikoner
GenericName[de]=Desktop-Symbole
GenericName[el]=Εικονίδια επιφάνειας εργασίας
GenericName[eo]=Desktop Icons
GenericName[es]=Iconos de escritorio
GenericName[et]=Töölaua ikoonid
GenericName[eu]=Mahaigaineko ikonoak
GenericName[fa]=Desktop Icons
GenericName[fi]=Työpöydän kuvakkeet
GenericName[fr]=Icônes de bureau
GenericName[ga]=Seirbhís do Chustaiméirí
GenericName[gl]=Desktop Icons
GenericName[he]=סמלים בשולחן העבודה
GenericName[hi]=डेस्कटॉप प्रतीक
GenericName[hr]=ikona na radnoj površini
GenericName[hu]=Asztali ikonok
GenericName[id]=Ikon Desktop
GenericName[it]=Icone sulla scrivania
GenericName[ja]=デスクトップアイコン
GenericName[ka]=სამუშაო დაფის ხატულა
GenericName[ko]=데스크탑 아이콘
GenericName[ky]=Десктоптун иконалары
GenericName[lv]=Darbvirsmas ikonas
GenericName[lt]=Darbastalio ženkliukai
GenericName[ms]=Ikon Desktop Ikon
GenericName[nb]=Skrivebordsikon
GenericName[nl]=Bureaubladpictogrammen
GenericName[pl]=Ikony pulpitu
GenericName[pt_BR]=Ícones da área de trabalho
GenericName[pt]=Ícones da área de trabalho
GenericName[ro]=Pictograme de birou
GenericName[ru]=Desktop Icons
GenericName[sk]=Ikony plochy
GenericName[sl]=Ikone namizja
GenericName[sq]=Ikonat e Desktopit
GenericName[sv]=Desktop Icons
GenericName[ta]=டெச்க்டாப் சின்னங்கள் அளவு
GenericName[tl]=Desktop Mga Icon
GenericName[tr]=Masaüstü Icons
GenericName[th]=ไอคอนของพื้นที่ทํางาน
GenericName[uk]=Настільні іконки
GenericName[ur]=فائلز
GenericName[zh-Hans]=桌面图标
GenericName[zh-Hant]=桌面圖示
GenericName=Desktop Icons
Comment[ar]=جهاز تصوير على الحاسوب المكتبي
Comment[az]=GNOME masa üstü ekran icons
Comment[be]=Паказваць значкі на працоўным стале GNOME
Comment[bg]=Показване на иконите на работния плот на GNOME
Comment[bn]=ডেস্কটপে আইকন প্রদর্শন করা হবে
Comment[ca]=Mostra icones a l'escriptori GNOME
Comment[cs]=Zobrazovat ikony na ploše GNOME
Comment[da]=Vis ikoner på GNOME skrivebordet
Comment[de]=Symbole auf dem Desktop anzeigen
Comment[el]=Εμφάνιση εικονιδίων στην επιφάνεια εργασίας του GNOME
Comment[eo]=Apartaj ikonoj sur la GNOME-tablo
Comment[es]=Mostrar iconos en el escritorio GNOME
Comment[et]=Ikoonide näitamine GNOME töölaual
Comment[eu]=Bistaratu ikonoak GNOME mahaigainean
Comment[fa]=نمایش آیکون ها در دسکتاپ GNOME
Comment[fi]=Näytä kuvakkeet Gnomen työpöydällä
Comment[fr]=Affiche les icônes sur le bureau GNOME
Comment[ga]=Taispeáin deilbhíní ar an GNOME deisce
Comment[gl]=Mostrar iconas no escritorio GNOME
Comment[he]=תגיות: GNOME Desktop
Comment[hi]=GNOME डेस्कटॉप पर आइकन प्रदर्शित करें
Comment[hu]=Ikonok megjelenítése a GNOME asztalon
Comment[id]=Tampilkan ikon pada desktop GNOME
Comment[it]=Visualizza icone sulla scrivania
Comment[ja]=GNOMEデスクトップにアイコンを表示
Comment[ko]=GNOME 데스크톱에서 아이콘 표시
Comment[ky]=GNOME үстөлүндө иконаларды көрсөтүү
Comment[lv]=Rādīt GNOME darbvirsmas ikonas
Comment[lt]=GNOME darbastalyje rodyti ženkliukus
Comment[ms]=Ikon ikon pada desktop GNOME
Comment[nb]=Vis ikoner på GNOME-skrivebordet
Comment[nl]=Pictogrammen op het GNOME-bureaublad tonen
Comment[pl]=Wyświetlaj ikony na pulpicie GNOME
Comment[pt_BR]=Exibir ícones na área de trabalho do GNOME
Comment[pt]=Exibir ícones na área de trabalho do GNOME
Comment[ro]=Afișează pictograme pe biroul GNOME
Comment[ru]=Показывать значки на рабочем столе GNOME
Comment[sk]=Zobraziť ikony na pracovnej ploche GNOME
Comment[sl]=Prikaži ikone na namizju GNOME
Comment[sq]=Shfaq ikonat në desktopin GNOME
Comment[sv]=Visa ikoner på GNOME-skrivbordet
Comment[tl]=Ipakita ang mga larawan sa desktop ngrkton
Comment[tr]=GNOME masaüstü ikonları
Comment[th]=แสดงไอคอนบนพื้นที่ทํางานของ GNOME
Comment[uk]=Показати іконки на робочому столі GNOME
Comment[ur]=گنوم ڈیسک ٹاپ پر تصاویر دکھائیں
Comment[zh-Hans]=在 GNOME 桌面上显示图标
Comment[zh-Hant]=在 GNOME 桌面上顯示圖示
Comment=Display icons on the GNOME desktop
Keywords[ar]=حواسيب مكتبية؛ وأجهزة تصفية؛ وملفات؛ ومجلات؛ ومجلات؛ وزراعة؛ وهيد؛ والعرض؛ وقطع الطرق؛;
Keywords[az]=masa üstü; vasit;files;folders;manager;arrange;hide;show;starter;kıqraflı;
Keywords[be]=desktop;icons;files;folders;manager;arrange;hide;show;launcher;shortcuts;працоўны стол;файлы;папкі;ярлыкі;значкі;лаўнчар;
Keywords[bg]=настолен компютър;икони;файлове;папки;мениджър;аранжимент;скрий;шоу;прозорец;къси клавиши;
Keywords[bn]=ডেস্কটপ;আইকন;সম্প্রদায়;মনন;অবলন;হর্‍;হর্‌;ব্রম;ব্‌স;ব্‌;ব্‌স;ব্‌স;
Keywords[ca]=desktop; icons; files; folders;manager; adevinament; show;launcher; shortcuts;
Keywords[cs]=desktop; ikony; soubory; složky; manažer; zařídit; skrýt; show; spouštěč; zkratky;
Keywords[da]=desktop; ikoner; filer; mapper; manager; arrangere; skjule; show; lancerer; genveje;
Keywords[de]=desktop;icons;files;folders;manager;arrange;hide;show;launcher;shortcuts;
Keywords[el]=desktop; icons;files; folders; manager; arrange; hide; show; launcher; shortcuts;
Keywords[eo]=tablo; fasoj; falantoj; managro;arrange;hide; spektaklo;lanĉilo; mallongigoj;
Keywords[es]=escritorio; icons;files;folders;manager;arrange;hide;show;launcher;shortcuts;
Keywords[et]=töölaud; ikoonid; failid; kataloogid; haldaja; korralda; peita; näidata;launcher; lühilõiked;
Keywords[eu]=mahaigaina;ikonoak;karpetak; kudeatzailea;arrange;hide;show;launcher;shortcuts;
Keywords[fa]=دانلود بازی های رومیزی؛ فایل ها؛ پوشه ها؛manager;arrange;coat;show; launcher;
Keywords[fi]=työpöytä; ikonit; tiedostot; kansiot; manager;arrange;piilota;show;laukaisin; oikosulut;
Keywords[fr]=bureau;icônes;fichiers;dossiers;manager;dispositif;show;lanceur;shortcuts;
Keywords[ga]=deisce;icons; comhaid; fillteáin; bainisteoir; raon; hide; seó; seoladh;gearrtha;
Keywords[gl]=|data de nacemento = [[5 de setembro]] de [[1638]];
Keywords[he]=שולחן עבודה; מטבעות; פיות; מנדר; ;hide; show;launcher; shortcuts;
Keywords[hi]=डेस्कटॉप; आइकन; फ़ाइल्स; फ़ोल्डर्स; प्रबंधक; व्यवस्था; छिपाना; शो; लांचर; छोटा;
Keywords[hu]=asztali, ikonok, akták, mappák, kezelők, szervezők, bújócskák, bemutatók, kilövők, rövidítések;
Keywords[id]=desktop; ikon; berkas; folder; manajer; atur; sembunyikan; tampilkan; peluncur; jalan pintas;
Keywords[it]=desktop;icone;file;cartelle;gestore;ordine;nascondi;mostra;lanciatore;scorciatoie;
Keywords[ja]=デスクトップ;アイコン;ファイル;フォルダ;マネージャー;範囲;非表示;ショー;ランチャー;ショートカット;
Keywords[ko]=데스크탑; 아이콘; 파일; 폴더; 관리자; 배열; 숨기기; 쇼; 런처; 단축키;
Keywords[ky]=desktop;icons;files; папкалар; башкаруучу; жабуу; шоу; ишке киргизүүчү; кыска жолдор;
Keywords[lv]=darbvirsma;icons;files;folders;manager;arange;hide;show;palaišana;shortcuts;
Keywords[lt]=darbastalis; piktogramos; failai; aplankai; vadovas; organizuoti; slėpti; rodyti; paleidimo; spartieji;
Keywords[ms]=desktop;icons;files;folder;manager;arrange;hide;show;launcher;shortcuts;
Keywords[nb]=desktop;icons;files;folders;manager;arrange;hide;show;lancer;shortcuts;
Keywords[nl]=desktop;icons;files;folders;manager;arrange;hide;show;launcher;shortcuts;
Keywords[pl]=desktop;icons;files;folders;manager;arrange;hide;show;launcher;shortcuts;
Keywords[pt_BR]=desktop; icons; arquivos; pastas; gerenciador; organizar; esconder; mostrar; launcher; atalhos;
Keywords[pt]=desktop; icons; arquivos; pastas; gerenciador; organizar; esconder; mostrar; launcher; atalhos;
Keywords[ro]=desktop;icoane;file;dosare;manager;aranjat;ascunde;arată;lansare;scurtături;
Keywords[ru]=desktop;icons;files;folders;manager;arrange;hide;show;launcher;shortcuts;рабочий стол;файлы;значки;комбинации клавиш;папки;
Keywords[sk]=plocha;ikony;súbory; priečinky;správca;usporiadať;skryť;zobraziť;spúšťač;skratky;
Keywords[sl]=namizne; ikone; datoteke; mape; manager; arrange; skrinje; prikaži; zaganjalnik; kratke ure;
Keywords[sq]=j;
Keywords[sv]=desktop;icons;files;folders;manager;arrange;hide;show;launcher;shortcuts;
Keywords[tl]=mga desktop;icon; profile; pepper; manager;arrange;hide;show;launcher; shortcuts;
Keywords[tr]=masaüstü;icons;files;folders;manager;arrange;hide;show; başlatıcı; linecuts;
Keywords[th]=desktop; icons;files; files; manager; aarrange; hyd; show; launcher; sshuts;
Keywords[uk]=робочий стіл;кони;файли; мангери; ланч; ходовий; шоу; лущильник;коротки;
Keywords[ur]=ڈیسک ٹاپ؛ نقل و حمل؛ نقل و حمل؛ manager؛ arrange؛ hide؛ ظاہر؛ کھولاؤ؛;
Keywords[zh-Hans]=桌面; icons; 文件; 文件夹; 管理器; 排列; 隐藏; 显示; 发射器; 短剪;
Keywords[zh-Hant]=桌面; icons; 文件; 收件; 管理; 排列; 隱藏; 顯示; 發射; 短剪;
Keywords=desktop;icons;files;folders;manager;arrange;hide;show;launcher;shortcuts;
Icon=com.desktop.ding

Exec=gdbus call --session --dest org.gnome.Shell --object-path /org/gnome/Shell --method org.gnome.Shell.Extensions.EnableExtension gtk4-ding@smedius.gitlab.com
TryExec=/usr/bin/gdbus
Terminal=false
StartupNotify=false
OnlyShowIn=GNOME;
Categories=Utility;DesktopSettings;Settings;

X-Ding-SingleMainWindow=false

Actions=togglevisibility;enable;showshortcuts;preferences;disable;

[Desktop Action togglevisibility]
Name[ar]=Show<Hide
Name[az]=\sShow <>Hide
Name[be]=Паказаць<>Схаваць
Name[bg]=Показване < > Скриване
Name[bn]=লুকিয়ে রাখুন
Name[ca]=Mostra <> Amaga
Name[cs]=Zobrazit < > Skrýt
Name[da]=Vis < > Skjul
Name[de]=Gebräuchliche Bezeichnung
Name[el]=Εμφάνιση <>Απόκρυψη
Name[eo]=La jenaj paĝoj ligas al
Name[es]=Mostrar =
Name[et]=Näita <> Peida
Name[eu]=Erakutsi<>Ezkutatu
Name[fa]=<Hide
Name[fi]=Näytä <> Piilota
Name[fr]=Afficher <>Cacher
Name[ga]=Taispeáin níos mó
Name[gl]=Mostrar <Hide
Name[he]=תגית: Hide
Name[hi]=प्रदर्शन
Name[hr]=Prikaži / Sakrij
Name[hu]=< > Elrejtés
Name[id]=Tampilkan < > Sembunyikan
Name[it]=Mostra<>Nascondi
Name[ja]=ショー<>
Name[ka]=ჩვენება / დამალვა
Name[ko]=쇼<>머리
Name[ky]=Көрсөтүңүз <> Жашыруун
Name[lv]=Rādīt 'slēpt'
Name[lt]=Rodyti < > Slėpti
Name[ms]=Show<>Sembunyikan
Name[nb]=Vis<> Skjul
Name[nl]=Toon <>Verbergen
Name[oc]=Afichar/Amagar
Name[pl]=Pokaż<>Ukryj
Name[pt_BR]=Mostrar <>Esconder
Name[pt]=Mostrar <>Esconder
Name[ro]=Arată < > Ascunde
Name[ru]=Показать<>Скрыть
Name[sk]=Zobraziť<>Skryť
Name[sl]=Prikaži <>Skrij
Name[sq]=Shfaq<>fshi
Name[sv]=Visa <>Hide
Name[ta]=காட்டு/மறைக்க
Name[tl]=Ipakita<>Hide
Name[tr]=Show<>Hide
Name[th]=แสดง </ Hide
Name[uk]=Показати <>Приховати
Name[ur]=طےشدہ
Name[zh-Hans]=显示 {} 隐藏
Name[zh-Hant]=顯示 {} 隱藏
Name=Show<>Hide
Exec=gapplication action com.desktop.ding toggleVisibility

[Desktop Action enable]
Name[ar]=التمكين
Name[az]=Qeydiyyat
Name[be]=Уключыць
Name[bg]=Включване
Name[bn]=সক্রিয় করুন
Name[ca]=Habilita
Name[cs]=Povolit
Name[da]=Aktivér
Name[de]=Ermöglichen
Name[el]=Ενεργοποίηση
Name[eo]=Enable
Name[es]=Habilitación
Name[et]=Luba
Name[eu]=Gaitu
Name[fa]=گزینه Enable
Name[fi]=Käytä
Name[fr]=Activer
Name[fur]=Abilite
Name[ga]=Cumasaigh
Name[gl]=Habilitar
Name[he]=הפעלה
Name[hi]=सक्षम
Name[hr]=Omogući
Name[hu]=Engedélyezés
Name[id]=Aktifkan
Name[it]=Abilita
Name[ja]=アクセス
Name[ka]=ჩართვა
Name[ko]=이름 *
Name[ky]=Мүмкүн
Name[lv]=Ieslēgt
Name[lt]=Įjungti
Name[ms]=Hidupkan
Name[nb]=Slå på
Name[nl]=Inschakelen
Name[oc]=Activar
Name[pl]=Włącz
Name[pt_BR]=Activar
Name[pt]=Activar
Name[ro]=Activează
Name[ru]=Включить
Name[sk]=Zapnúť
Name[sl]=Omogoči
Name[sq]=Aktivo
Name[sv]=Aktivera
Name[ta]=இயக்கு
Name[tl]=Kaibig - ibig
Name[tr]=Enable
Name[th]=เปิด
Name[uk]=Увімкнути
Name[ur]=فعال کریں
Name[zh-Hans]=启用
Name[zh-Hant]=開啟
Name=Enable
Exec=gdbus call --session --dest org.gnome.Shell --object-path /org/gnome/Shell --method org.gnome.Shell.Extensions.EnableExtension gtk4-ding@smedius.gitlab.com

[Desktop Action showshortcuts]
Name[ar]=الطرق القصيرة
Name[az]=Tarix
Name[be]=Спалучэнні клавіш
Name[bg]=Бързи пътища
Name[bn]=শর্ট- কাট
Name[ca]=Dreceres
Name[cs]=Zkratky
Name[da]=Genveje
Name[de]=Tastenkürzel
Name[el]=Συντομεύσεις
Name[eo]=Mallongigoj
Name[es]=Accesos directos
Name[et]=Otseteed
Name[eu]=Lasterbideak
Name[fa]=میانبرها
Name[fi]=Pikanäppäimet
Name[fr]=Raccourcis
Name[fur]=Scurtis
Name[ga]=Gearáin agus Cur i bhFeidhm
Name[gl]=Shortcuts
Name[he]=קיצורי דרך
Name[hi]=शॉर्टकट
Name[hr]=Prečice
Name[hu]=Gyorsbillentyűk
Name[id]=Pintas
Name[it]=Scorciatoie
Name[ja]=ショートカット
Name[ka]=მალსახმობები
Name[ko]=바로가기
Name[ky]=Кыска жолдор
Name[lv]=Saīsnes
Name[lt]=Spartieji klavišai
Name[ms]=Pintasan
Name[nb]=Snarveier
Name[nl]=Sneltoetsen
Name[oc]=Acorchis
Name[pl]=Skróty klawiszowe
Name[pt_BR]=Atalhos
Name[pt]=Atalhos
Name[ro]=Scurtături
Name[ru]=Комбинации клавиш
Name[sk]=Skratky
Name[sl]=Bližnjice
Name[sq]=Kombinim përshpejtues
Name[sv]=Genvägar
Name[ta]=குறுக்குவழிகள்
Name[tl]=Mga Maikling Pagputol
Name[tr]=Kısayollar
Name[th]=ปุ่มพิมพ์ลัด
Name[uk]=Шорти
Name[ur]=مختصر
Name[zh-Hans]=快捷键
Name[zh-Hant]=捷徑
Name=Shortcuts
Exec=gapplication action com.desktop.ding showShortcutViewer

[Desktop Action preferences]
Name[ar]=الأفضليات
Name[az]=Qeydiyyat
Name[be]=Параметры
Name[bg]=Преференция
Name[bn]=পছন্দ
Name[ca]=Preferències
Name[cs]=Předvolby
Name[da]=Indstillinger
Name[de]=Vorlieben
Name[el]=Προτιμήσεις
Name[eo]=Preferoj
Name[es]=Preferencias
Name[et]=Eelistused
Name[eu]=Hobespenak
Name[fa]=ترجیحات
Name[fi]=Asetukset
Name[fr]=Préférences
Name[fur]=Preferencis
Name[ga]=Tosaíochtaí
Name[gl]=Preferencias
Name[he]=העדפות
Name[hi]=प्राथमिकता
Name[hr]=Postavke
Name[hu]=Előirányzatok
Name[id]=Preferensi
Name[it]=Preferenze
Name[ja]=リファレンス
Name[ka]=მორგება
Name[ko]=옵션 정보
Name[ky]=Преференциялар
Name[lv]=Iestatījumi
Name[lt]=Nustatymai
Name[ms]=Keutamaan Anjuta
Name[nb]=Innstillinger
Name[nl]=Voorkeuren
Name[oc]=Preferéncias
Name[pl]=Preferencje
Name[pt_BR]=Preferências
Name[pt]=Preferências
Name[ro]=Preferințe
Name[ru]=Параметры
Name[sk]=Predvoľby
Name[sl]=Lastnosti
Name[sq]=Preferimet
Name[sv]=Föreställningar
Name[ta]=விருப்பத்தேர்வுகள்
Name[tl]=Mga kagustuhan
Name[tr]=Tercihler
Name[th]=ปรับแต่ง
Name[uk]=Налаштування
Name[ur]=ترجیحات
Name[zh-Hans]=首选项
Name[zh-Hant]=首选项
Name=Preferences
Exec=gapplication action com.desktop.ding changeDesktopIconSettings

[Desktop Action disable]
Name[ar]=العجز
Name[az]=Qeydiyyat
Name[be]=Адключыць
Name[bg]=Изключване
Name[bn]=নিষ্ক্রিয়
Name[ca]=Deshabilita
Name[cs]=Zakázat
Name[da]=Deaktivér
Name[de]=Nicht verfügbar
Name[el]=Απενεργοποίηση
Name[eo]=Distingebla
Name[es]=Inhabilitación
Name[et]=Keela
Name[eu]=Desgaitu
Name[fa]=Disable
Name[fi]=Poista käytöstä
Name[fr]=Désactiver
Name[fur]=Disabilitât
Name[ga]=Díroghnaigh gach rud
Name[gl]=Disable
Name[he]=אכזבה
Name[hi]=अक्षम
Name[hr]=Deaktiviraj
Name[hu]=Kikapcsolás
Name[id]=Matikan
Name[it]=Disattiva
Name[ja]=免責事項
Name[ka]=გამორთვა
Name[ko]=기타 제품
Name[ky]=Майыптар
Name[lv]=Atslēgt
Name[lt]=Išjungti
Name[ms]=Matikan
Name[nb]=Slå av
Name[nl]=Uitschakelen
Name[oc]=Disable
Name[pl]=Wyłącz
Name[pt_BR]=Desactivar
Name[pt]=Desactivar
Name[ro]=Dezactivează
Name[ru]=Выключить
Name[sk]=Vypnúť
Name[sl]=Onemogoči
Name[sq]=Jo aktiv
Name[sv]=Inaktivera
Name[ta]=முடக்கு
Name[tl]=Hindi Kaya
Name[tr]=Engelliler
Name[th]=ปิดการใช้งาน
Name[uk]=Вимкнути
Name[ur]=منسوخ کریں
Name[zh-Hans]=禁用
Name[zh-Hant]=禁用
Name=Disable
Exec=gdbus call --session --dest org.gnome.Shell --object-path /org/gnome/Shell --method org.gnome.Shell.Extensions.DisableExtension gtk4-ding@smedius.gitlab.com
